# Prerequisites
*.d
doTheWorld.c
# Object files
*.o
*.ko
*.obj
bin
*.elf
out_folder
doTheWorld.h
out_folder
tests/CTextEngine.h
# Linker output
main.c
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb
side_effect_copy
# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
!build.out
!build.exe
